<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1em;
        }
        .dept-controls {
            width: 100%;
            max-width: 800px;
            display: flex;
            flex-direction: row;
        }
        .emp-list {
            width: 90%;
        }
        .table {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <h1>Employee List</h1>
    <br />
    <form method="POST" class="dept-controls">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="currentDeptNo">Department</label>
            </div>
            <select th:name="currentDeptNo" onchange="this.form.submit()" class="custom-select" id="currentDeptNo">
                <option value="null" th:attr="selected=${currentDept == null ? true : false}">ALL</option>
                <option th:each="department : ${departments}" th:selected="${currentDept == null ? false : department.getDeptNo().equals(currentDept.getDeptNo())}" th:value="${department.deptNo}" th:text="${department.deptName}"></option>
            </select>
        </div>
        <div class="mb-3 ml-2">
            <button class="btn btn-primary" th:if="${currentDept != null}" type="button" th:attr="onclick=|document.location.href = '/employees/new/${currentDept.getDeptNo()}'|">Add new Employee</button>
        </div>
    </form>
    <form method="POST" action="/employees/delete" class="emp-list">
        <div class="card">
            <table class="table table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Gender</th>
                        <th>Geburtsdatum</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee : ${employees}" th:class="${currentDept != null && currentDept.getDeptManager().equals(employee) ? 'table-info' : ''}">
                        <td th:text="${employee.firstname}" class="align-middle"></td>
                        <td th:text="${employee.lastname}" class="align-middle"></td>
                        <td th:text="${employee.gender}" class="align-middle"></td>
                        <td th:text="${employee.dateOfBirth}" class="align-middle"></td>
                        <td><button type="submit" name="empNo" th:value="${employee.employeeNo}" class="btn btn-danger align-middle">FIRE</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

</body>
</html>